div > div {
            background-color: rgb(255,255,255);
            margin-right: 50px;
            margin-left: 50px;
            margin-top: 25px;
            padding: 10px;
        }

        .navbar-header{
            margin: 0px !important;
        }

        nav>* {
            background-color: rgba(255,255,255);
        }

        li{
            border-style: solid;
            border-width: 1px;
            border-color: rgba(0,0,0, .05);
        }

        li:hover {
            background-color: rgb(3, 163, 49);
        }
        html>* {
            font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
        }

        #username{
            margin-top: 50px;
            color: rgb(83, 100, 113);
        }